<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Initial Comment:</strong>
  <%= @article.initial_comment %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @article.datetime %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content.html_safe %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @article.photo %>
</p>

<!-- Placeholder for testing purposes... -->
<p>
  <strong>User email:</strong>
  <%= @article.user.email %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
