<p id="notice"><%= notice %></p>

<p>
  <strong>Number of Likes:</strong>
  <%= @article.likes.size %>
</p>

<%= render 'likes/likes_form' %>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Initial Comment:</strong>
  <%= @article.initial_comment %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @article.datetime %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content.html_safe %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @article.photo %>
</p>

<!-- Placeholder for testing purposes... -->
<p>
  <strong>User email:</strong>
  <%= @article.user.email %>
</p>

<!-- Placeholder front end to display comments... -->

<b>Post comments:</b><br />

<table>
  <thead>
    <tr>
      <th>User email</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @article.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td><%= comment.body %></td>
        <% if comment.posted_by? current_user %>
          <td><%= link_to "Delete", article_comment_path(@article, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<br /><br />

<%= form_for ([@article, @article.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Post" %>
<% end %>